.advantages {
  padding-top: 20px;
  padding-bottom: 35px;

  line-height: 20px;

  outline: 2px dashed red;
}

.advantages__title {
  font-size: @big-font-size;
  line-height: 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  outline: 2px dashed green;
}
