.cart {
  position: relative;

  letter-spacing: 0.75px;
}

.cart--icon::after {
  content: "";

  position: absolute;
  top: 2px;
  left: -51px;

  width: 21px;
  height: 18px;

  background-image: url(../../img/icon-cart.svg);
}
