.catalog-section-link-1,
.catalog-section-link-2 {
  text-decoration: none;
}

@media @tablet-widths {

  .catalog-section-link-1 {
    flex-basis: 334px;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .catalog-section-link-2 {
    flex-basis: 334px;
    flex-shrink: 0;
    flex-grow: 1;
  }

}

