.catalog-item {
  margin-bottom: 31px;

  font-weight: normal;
  font-size: @font-size-paragraph;
  line-height: 30px;
  color: @darkgrey-color;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__photo {
  width: 260px;
  height: 195px;
}

.catalog-item__wrap1 {
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid @lightgrey-color;
}


.catalog-item__wrap2 {
  display: flex;
  justify-content: space-between;

  width: 205px;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 1px;
  border-top: 1px solid @lightgrey-color;
}

.catalog-item__title  {
  margin-bottom: 0;
  margin-top: 0;

  font-weight: bold;
  font-size: @font-size;
  line-height: 24px;
  letter-spacing: 1px;
  color: @black-color;
}

.catalog-item__descr {
  margin-top: 5px;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
}

.catalog-item__cost {
  display: inline-block;

  font-weight: bold;
  font-size: @font-size-paragraph;
  line-height: 24px;
  color: @black-color;
}

.catalog-item__cart {
  display: inline-block;
  width: 21px;
  height: 20px;

  font-size: 0;

  &--icon {
    opacity: 0.2;

    &:hover {
      fill: #63d1bb;
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media @tablet-widths {

  .catalog-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 334px;
    margin-bottom: 54px;
    padding-bottom: 0;
  }

  .catalog-item__photo {
    width: 100%;
    height: 334px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    height: 334px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 28px;
  }

  .catalog-item__wrap2 {
    width: 100%;
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
  }

  .catalog-item__cost {
    font-size: @font-size;
    letter-spacing: 0.6px;
  }

  .catalog-item__descr {
    margin-top: 4px;
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 30px;
  }

}

@media @desktop-widths {

  .catalog-item__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 3px;
  }

  .catalog-item {
    display: block;
    width: 316px;
    height: auto;
  }

  .catalog-item__photo {
    width: 316px;
    height: 462px;

    img {
      width: 316px;
      height: 462px;
    }
  }

  .catalog-item__wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: auto;
    height: 197px;
    padding-top: 26px;
  }

  .catalog-item__wrap2 {
    width: 100%;
    margin: 0;
    margin-top: auto;
    padding-left: 0;
  }

  .catalog-item__descr {
    margin-top: 4px;
    margin-bottom: 18px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item:nth-child(3) .catalog-item__descr {
    margin-bottom: 14px;
  }

  .catalog-item__cost {
    letter-spacing: 0.3px;
  }

}
