.contacts {
  font-weight: normal;
  font-size: @font-size-paragraph;
  line-height: 30px;
  color: @darkgrey-color;

  outline: 2px dashed red;
}

.contacts__title {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: @black-color;
}

.contacts__information {
  padding-bottom: 20px;
}

.contacts__email {
  a {
    text-decoration: none;
    color: @darkgrey-color;
  }
}
