.field-search__input {
  border: none;
}

.field-search__input::-webkit-input-placeholder {
  letter-spacing: 0.7px;
  color: @black-color;
}

.field-search__input::-moz-placeholder {
  letter-spacing: 0.7px;
  color: @black-color;
}

@media @tablet-widths {

  .field-search__input {
    width: 180px;
  }

  .field-search__input::-webkit-input-placeholder {
  color: @white-color;
  }

.field-search__input::-moz-placeholder {
  color: @white-color;
  }

}

@media @desktop-widths {

  .field-search__input {
    width: 60px;
  }

}
