.field-email {
  display: block;
  padding-top: 30px;
  padding-bottom: 15px;

  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;

  outline: 2px dashed green;
}

.field-email__input {
  display: block;
  margin-top: 18px;

  font-weight: normal;
  line-height: 20px;
  color: @darkgrey-color;

  border: none;
}
