.fieldset-text {
  padding: 0;

  border: none;
}

.fieldset-text__name {
  position: relative;
  display: block;
  padding-bottom: 15px;

  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 60px;

    width: 199px;
    height: 1px;

    background-color: #63d1bb;
  }
}

@media @tablet-widths {

  .fieldset-text {
    padding-top: 63px;
    padding-bottom: 15px;
  }

  .fieldset-text__name {
    position: relative;
    display: block;
    padding-top: 2px;
    padding-bottom: 15px;

    line-height: 17px;
    text-transform: uppercase;
    color: #63d1bb;

    &::after {
      content: none;
    }
  }

  .fieldset-text__wrap {
    margin-left: 169px;
    margin-top: -36px;
  }

  .field-text--grey-wrap {
    padding-top: 61px;
    padding-bottom: 53px;

    background-color: @grey-color;
  }

  .field-text--white-wrap {
    padding-top: 49px;
  }

}

@media @desktop-widths {

  .fieldset-text {
    padding-top: 64px;
    padding-bottom: 15px;
    padding-left: 110px;
  }

  .fieldset-text__wrap {
    margin-top: -36px;
    margin-left: 116px;
    margin-right: 236px;
  }

  .field-text--grey-wrap {
    padding-top: 60px;
    padding-bottom: 54px;

    background-color: @grey-color;
  }

  .field-text--white-wrap {
    padding-top: 67px;
    padding-left: 112px;
  }

}
