.field-checkbox {
  display: block;
  padding-top: 32px;
  padding-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 20px;
  color: @black-color;

  background-color: @white-color;
}
