.fieldset-text {
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid #63d1bb;
  outline: 2px dashed green;
}

.fieldset-text__name {
  padding-right: 25px;

  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;
}
