.form-search {
  position: relative;
}

.field-search__input {
  border: none;
  // Стилизация placeholder;
}

.form-search__btn {
  position: absolute;
  top: 2px;
  left: -43px;

  width: 18px;
  height: 18px;
  padding: 0;

  text-indent: -1000px;
  background: none;
  border: none;
  overflow: hidden;
  outline: 1px solid green;
}
