.main-catalog {
  font-style: normal;
  font-weight: normal;
  font-size: @font-size-paragraph;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: @darkgrey-color;

  background-color: @white-color;
  outline: 2px dashed red;
}

.main-catalog__header {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  text-align: center;
  color: @black-color;

  background-color: @grey-color;
}

.main-catalog__title {
  font-style: normal;
  font-weight: bold;
  font-size: @big-font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  text-align: center;
  color: @black-color;
}
