.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;

  width: 21px;
  height: 20px;
}

.main-nav--close {
  position: absolute;
  top: 29px;
  right: 30px;

  display: block;
  width: 21px;
  height: 20px;

  background-image: url(../../img/icon-menu-close.svg);
}

.main-nav--open {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 21px;
  height: 14px;

  background-image: url(../../img/icon-menu-open.svg);
}

.main-nav__list1 {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list2 {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list1.main-nav--nojs {
  display: block;
}

.main-nav__list2.main-nav--nojs {
  display: block;
}

.main-nav__list--opened {
  display: block;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__item {
  display: block;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;

  letter-spacing: 0.9px;

  border-bottom: 1px solid @lightgrey-color;
  box-sizing: content-box;

    a {
      text-decoration: none;
      color: @black-color;
    }
}

.main-nav__item:nth-child(2) {
  padding-top: 26px;
}

.main-nav__list2 .main-nav__item:first-child {
  padding-top: 25px;
}

.main-nav__list3 .main-nav__item {
  display: none;
  font-size: 15px;
}

.main-nav__free-shipping {
  display: none;

  font-weight: normal;
  font-size: 15px;
  color: @darkgrey-color;
}

@media @tablet-widths {

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list1{
    display: flex;

    z-index: 2;
  }

  .main-nav__list1 .main-nav__item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 35px;

    font-size: 15px;

    border: none;
  }

  .main-nav__list2{
    display: flex;
    order: -1;
    margin-left: auto;

    z-index: 2;
  }

  .main-nav__list2 .main-nav__item:first-child {
    padding-left: 0;
    padding-right: 80px;
  }

  .main-nav__item {
    margin: 0;
  }

  .main-nav__free-shipping {
    display: block;
    margin-left: auto;
  }
}


