.main-catalog {
  margin-bottom: 60px;
  padding-bottom: 30px;

  font-weight: normal;
  font-size: @font-size-paragraph;
  line-height: 30px;
  color: @darkgrey-color;

  outline: 2px dashed red;
}

.main-catalog__header {
  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: bold;
  font-size: 27px;
  text-align: center;
  color: @black-color;

  background-color: @grey-color;
}

.main-catalog__title {
  font-size: inherit;
}
