.page-header__title {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.page-header__logo {
  padding-top: 20px;
  padding-bottom: 17px;

  text-align: center;

  border-top: 1px solid @lightgrey-color;
  border-bottom: 1px solid @lightgrey-color;

  a:hover {
    opacity: 0.6;
  }

  a:active {
    opacity: 0.3;
  }
}

@media @tablet-widths {

  .page-header__wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-left: 50px;
    margin-right: 50px;
  }

  .page-header__logo {
    order: -2;

    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 14px;

    border: none;

    img {
      width: 113px;
      height: 46px;
    }
  }

}

@media @desktop-widths {
  .page-header__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }

  .page-header__logo {
    order: -1;

    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    img {
      width: 149px;
      height: 72px;
    }
  }

}
