.page-header__title {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.page-header__logo {
  padding-top: 20px;
  padding-bottom: 22px;
  border-top: 1px solid @lightgrey-color;
  border-bottom: 1px solid @lightgrey-color;

    img {
      display: block;
      width: 86px;
      height: 35px;
      margin: 0 auto;
    }
}

@media @tablet-widths {

  .page-header__wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-left: 50px;
    margin-right: 50px;
  }

  .page-header__logo {
    order: -2;
  }
}

@media @desktop-widths {
  .container();
}
