.page-footer {
  padding-top: 25px;
  padding-bottom: 23px;

  font-size: 19px;
  line-height: 19px;

  background-color: @grey-color;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;

  padding-top: 19px;
  padding-right: 31px;
  padding-left: 24px;

  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.8px;

  border-top: 1px solid #e5e5e5;

  span {
    display: inline-block;
    padding-top: 9px;
  }
}

.page-footer__copyright--link {
  display: inline-block;
  width: 27px;
  height: 34px;

  span {
    text-indent: -1000px;
    overflow: hidden;
    font-size: 0;
  }

  svg {
    fill: #63d1bb;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media @tablet-widths {
  .page-footer {
    padding-top: 53px;
    padding-bottom: 42px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    margin-right: 75px;

    a:hover {
      fill: #46c1ae;
    }

    a:active {
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    justify-content: space-between;

    width: 185px;
    margin: 0;
    padding-top: 3px;
    padding-left: 0;
    padding-right: 7px;
    border-top: none;

    span {
      padding-top: 9px;
    }
  }
}
