.page-footer {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 19px;
  line-height: 19px;

  background-color: @grey-color;
  outline: 2px dashed red;
}

.page-footer__copyright {
  text-align: center;
}
