.process-production {
  font-weight: normal;
  font-size: 13px;
  color: @darkgrey-color;

  outline: 2px dashed green;
}

.process-production__header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.process-production__title {
  padding-left: 90px;

  font-weight: bold;
  font-size: @font-size;
  color: @black-color;
}

.process-production__video {
  position: relative;
}

.process-production__descr {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
}

.process-production__descr small {
  font-size: 13px;
  line-height: 24px;
  color: @darkgrey-color;
}

.process-production__btn {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
