.product-of-the-week {
  padding-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: @font-size-paragraph;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 24px;
  color: @darkgrey-color;

  background-color: @white-color;
  outline: 2px dashed red;
}

.product-of-the-week__name {
  font-style: normal;
  font-weight: bold;
  font-size: @big-font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: @black-color;
}

.product-of-the-week__title {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.product-of-the-week__cost {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 24px;
  text-align: center;
  color: @darkgrey-color;
}
