.promo-block {
  font-size: 19px;
  line-height: 24px;

  outline: 2px dashed red;
}

.pomo-block__header {
  font-size: 27px;
  line-height: 30px;

  outline: 2px dashed green;
}

.promo-block__header--bg-img {
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.promo-block__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.promo-block__item-1 {
  color: @white-color;

  background-color: #63d1bb;
  outline: 2px dashed green;
}

.promo-block__item-2 {
  color: @white-color;

  background-color: #56c3b2;
  outline: 2px dashed green;
}

