.reviews {
  padding-top: 10px;
  padding-bottom: 40px;

  font-weight: normal;
  font-size: @font-size-paragraph;
  line-height: 30px;
  color: @darkgrey-color;

  outline: 2px dashed red;
}

.reviews__title {
  font-weight: bold;
  font-size: @big-font-size;
  color: @black-color;
}

.reviews__item {
  margin: 0;
}

.reviews-item__text {
  outline: 2px dashed green;
}

.reviews-item__author {
  display: block;
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  line-height: 24px;
  color: @black-color;
}

.reviews-item__author-email {
  margin-top: 10px;

  font-size: @font-size;
  text-decoration: none;

    a {
      font-weight: normal;
      text-decoration: none;
   }
}

.reviews__toggle {
  margin-bottom: 35px;
  border: 1px solid @lightgrey-color;
}
