.reviews {
  font-style: normal;
  font-weight: normal;
  font-size: @font-size-paragraph;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: @darkgrey-color;

  background-color: @white-color;
  outline: 2px dashed red;
}

.reviews__item {
  margin: 0;
}

.reviews-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: @font-size-paragraph;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  color: @darkgrey-color;

  outline: 2px dashed green;
}

.reviews-item__author {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 24px;
  color: @black-color;
}

.reviews-item__author-email {
  font-style: normal;
  font-weight: normal;
  font-size: @font-size;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  text-decoration: none;
  color: @darkgrey-color;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: @font-size;
      font-family: "OpenSans", "Arial", sans-serif;
      line-height: 30px;
      text-decoration: none;
      color: @darkgrey-color;
   }
}

.reviews__toggle {
  border: 1px solid @lightgrey-color;
}
