.social-btn {
  display: inline-block;
  width: 25px;
  height: 25px;

  text-decoration: none;
  text-indent: -1000px;
  overflow: hidden;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-btn--instagram {
  width: 22px;
  height: 21px;

  text-indent: 0;
  font-size: 0;
  overflow: visible;
}

.social-btn--facebook {
  width: 15px;
  height: 29px;

  text-indent: 0;
  font-size: 0;
  overflow: visible;
}

.social-btn--twitter {
  width: 24px;
  height: 20px;

  text-indent: 0;
  font-size: 0;
  overflow: visible;
}
