.social-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 145px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-bottom: 22px;

  font-weight: normal;
  font-size: @font-size;
  line-height: 24px;
  text-align: center;
}

@media @tablet-widths {
  .social-links {
    margin: 0;
    margin-top: 5px;
  }
}
